@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-bottom-width: 1px;
    border-color: #38bdf8;
}

h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 0.75rem;
    font-style: italic;
}

h5 {
    font-size: 0.75rem;
    font-style: italic;
    }
}
